.carrousel {
  height : 415px;
  position: relative; 
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
      &-content {
          height : 415px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
      }
}
.carrousel-image {
      height : 415px;
      width: 100%;
      margin:0;
      object-fit: cover;
      border-radius: 25px;
      position: relative;
      overflow: hidden;
  }

.arrow-left {
  top: 160px;
  left: 30px;
  position: absolute;
}
.arrow-right {
  top: 160px;
  right: 30px;
  position: absolute;
}
.image-index {
  position: absolute;
  bottom: 25px;
  color: $main-text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

@media (max-width: 900px) {
    .arrow-left {
        width: 85px;
        height: 95px;
    }
    .arrow-right {
        width: 85px;
        height: 95px;
    }
    
}
@media (max-width: 700px) {
    .carrousel {
        height : 255px;
        margin-left: 20px;
        margin-right: 20px;
            &-content {
                height : 255px;
            }
    }
    .carrousel-image {
            height : 255px;
            border-radius: 10px;
        }
    .arrow-left {
        width: 25px;
        height:30px;
        top: 125px;
        left: 20px;
    }
    .arrow-right {
        width: 25px;
        height:30px;
        top: 125px;
        right: 20px;
    }
    .image-index {
        visibility: hidden;
    }
}