.dropdown-content {
    margin: 40px 210px 40px 210px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: #F6F6F6;
    border-radius: 5px;
    & h2 {
        font-size: 24px;
        font-weight: 500;
        color: $main-text-color;
        background-color: $second-text-color;
        border-radius: 5px;
        padding: 10px 20px 10px 15px;
    }
    & img {
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
    }
}
.text-content {
    transition: 500ms all ease-in-out;
        & p {
            padding: 20px;
            padding-top: 0px;
            margin: 0px;
            font-family: 'Montserrat', sans-serif;
            color : $second-text-color;
            animation: appeadText 1s ease-in-out forwards;
     }
}
.arrow {
    transition: transform 0.5s ease-in-out;
}
.arrow.rotate {
    transform: rotate(-180deg); 
}

@keyframes appeadText {
    0% {
        opacity: 0;
        transform: translateY(-10px);
      }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .dropdown-content {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (max-width: 700px ) {
    .dropdown-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}
